.header {
    width: 100%;
    background: var(--color-blue);
    color: var(--color-white);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;

    border-bottom: 2px solid var(--color-light-blue);

    .header_left {
        display: flex;
        align-items: center;
        gap: 5rem;
    }
    
    .logotype {
        display: flex;
        align-items: center;
        gap: 10px;
    }

}