@import url(https://db.onlinewebfonts.com/c/f394894fe9d2c0473c80ab24dd9bcda5?family=Human+BBY+Web);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Human BBY Web", sans-serif;
}

:root {
    --color-blue: #0046be;
    --base-color: #fff;
    --color-light-blue: #2b5df5;
    --color-yellow: #fff200;
    --color-black: #000;
}